//Custom Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap");

#root {
  height: 100%;
  background: #54A5A5;
}

.display {
  background: #54A5A5;
}